[[[define "register"]]]

[[[template "header-bootstrap-inline"]]]

</head>

<body>
    <div v-cloak id="registration">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">Register</div>
                        <div class="card-body">
                            <form name="my-form" action="" method="">
                                <div class="form-group row">
                                    <label for="full_name" class="col-md-4 col-form-label text-md-right">Name</label>
                                    <div class="col-md-6">
                                        <input v-focus type="text" v-model="name" class="form-control" name="full-name">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="username" class="col-md-4 col-form-label text-md-right">Username</label>
                                    <div class="col-md-6">
                                        <input type="text" v-model="username" class="form-control" name="username">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                    <div class="col-md-6">
                                        <input type="password" v-model="password" class="form-control" name="password">
                                    </div>
                                </div>

                                <div v-if="userAlreadyExists" class="row form-group">
                                    <div class="col-md-8 offset-md-4">
                                        <div class="alert alert-danger" role="alert">
                                            Username already exists. Please try again.
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-6 offset-md-4">
                                        <button v-on:click.prevent="register" :disabled="isNotValid" type="submit"
                                            class="btn btn-primary">
                                            Register
                                        </button>
                                    </div>
                                </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    [[[template "scripts-vue"]]]
    [[[template "scripts-jquery"]]]
    [[[template "scripts-bootstrap"]]]
    <script>
        var app = new Vue({
            el: '#registration',
            data: {
                username: '',
                password: '',
                name: '',
                processing: false,
                userAlreadyExists: false,
            },
            methods: {
                register: function (event) {
                    this.badCredentials = false;
                    this.processing = true;
                    this.userAlreadyExists = false;
                    self = this
                    $.post("/register", { username: this.username, password: this.password, name: this.name })
                        .done(function () {
                            window.location.href = "/";
                        })
                        .fail(function (response) {
                            self.processing = false;
                            if (response.responseText == "user already exists\n") {
                                self.userAlreadyExists = true;
                            } else {
                                alert("looks like we have a bug, server said: " + response.responseText);
                            }
                        });
                }
            },
            computed: {
                isNotValid: function () {
                    if (this.processing) {
                        return true
                    }
                    if (this.username == '') {
                        return true
                    }
                    if (this.password == '') {
                        return true
                    }
                }
            },
            directives: {
                focus: {
                    // When the bound element is inserted into the DOM...
                    inserted: function (el) {
                        // Focus the element
                        el.focus()
                    }
                }
            }
        })
    </script>
</body>

</html>
[[[end]]]