[[define "register"]]

[[template "header"]]

</head>

<body>
    <div v-cloak id="registration">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">Register</div>
                        <div class="card-body">
                            <form name="my-form" action="" method="">
                                <div class="form-group row">
                                    <label for="full_name" class="col-md-4 col-form-label text-md-right">Name</label>
                                    <div class="col-md-6">
                                        <input v-focus type="text" v-model="name" class="form-control" name="full-name">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="username" class="col-md-4 col-form-label text-md-right">Username</label>
                                    <div class="col-md-6">
                                        <input type="text" v-model="username" class="form-control" name="username">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                    <div class="col-md-6">
                                        <input type="password" v-model="password" class="form-control" name="password">
                                    </div>
                                </div>

                                <div v-if="userAlreadyExists" class="row form-group">
                                    <div class="col-md-8 offset-md-4">
                                        <div class="alert alert-danger" role="alert">
                                            Username already exists. Please try again.
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-6 offset-md-4">
                                        <button v-on:click.prevent="register" :disabled="isNotValid" type="submit" class="btn btn-primary">
                                        Register
                                        </button>
                                    </div>
                                </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    [[template "scripts-vue"]]
    <script src="/static/register.js"></script>
</body>

</html>
[[end]]